<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li routerLinkActive="active">
          <a class="nav-item nav-link" routerLink="/"
            >Pension Management System</a
          >
        </li>
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a routerLink="/calculatepension" class="nav-item nav-link"
            >Calculate Pension</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li *ngIf="isAuthenticated">
          <a (click)="onLogout()" class="nav-item nav-link logout-btn"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
