<div class="container-fluid py-5">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7">
      <div class="card text-center">
        <img src="../../../../assets/images/hour-glass.png" class="img-sec" />
        <h4 class="text-pad">
          Oops! your session has expired! Please re-login.
        </h4>
        <div class="row justify-content-center">
          <div class="form-group">
            <button routerLink="/login" class="button">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
