<div class="container-fluid py-5 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7">
      <div class="card text-center">
        <h1 class="text-404">404</h1>
        <h2>oops! Page not found</h2>
        <p>
          The page you're looking for might be renamed, removed or you don't
          have sufficient permission to visit!
        </p>
        <!-- <div class="row justify-content-center">
          <div class="form-group">
            <button routerLink="/" class="button" *ngIf="!isLoggedIn">
              Login
            </button>
            <button
              routerLink="/calculatepension"
              class="button"
              *ngIf="isLoggedIn"
            >
              Calculate Pension
            </button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
